= javascript_include_tag 'parametre'

%div{"data-role" => "page"}
 %div{"data-role" => "header" data-position => "fixed"}
   %h1 Campus de XXX

 %div{"data-role" => "content"}
   %form
    %ul{"data-role" => "listview" "data-type" => "horizontal" "data-theme" => "c"}
       %li{"img src" => "http://t1.gstatic.com/images?q=tbn:ANd9GcSl81MTPRTFfabA5fQRqwPp6_bEr8Cg1S-k91hG7NqgI42zuXUSJw" "width" => 80px "height" => 80px}

