
%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Interface d'administration
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
  / /header
  %div{"data-role" => "content"}
    %a Que voulez-vous modifier?
  %div{"data-role" => "content"}
    %a{:href => "/admin/campus/edit", "data-role" => "button", "data-icon" => "refresh"} Modifier/Supprimer un campus
    %a{:href => "/admin/batiment/edit", "data-role" => "button", "data-icon" => "refresh"} Modifier/Supprimer un batiment
    %a{:href => "/admin/salle/edit", "data-role" => "button", "data-icon" => "refresh"} Modifier/Supprimer une salle
    %a{:href => "/admin/entree/edit_accueil", "data-role" => "button", "data-icon" => "refresh"} Modifier/Supprimer une entrée    
    %a{:href => "/admin/categorie/edit", "data-role" => "button", "data-icon" => "refresh"} Modifier/Supprimer une catégorie  
    %a{:href => "/admin/service/edit", "data-role" => "button", "data-icon" => "refresh"} Modifier/Supprimer un service  
    %a{:href => "/admin/borne/edit", "data-role" => "button", "data-icon" => "refresh"} Modifier/Supprimer une borne  
