=javascript_include_tag "edit_service"

%div(data-role="page" )
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Interface d'administration
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
  / /header
  %div{"data-role" => "content"}
    %h1 Modification de services
    %form#form{:action => "", :method => "post", :name => "form"}

      %div{"data-role" => "fieldcontain"}
        %label.select{:for => "select-campus"} Dans quel Campus ?
        %select#select-campus{:name => "campus_id"}
          %option{:disabled => "disabled", :selected => "selected"} Choisissez le campus
          - @campuses.each do |campus|
            %option{:value => campus.id}= campus.nom.capitalize
      
      %div{"data-role" => "fieldcontain"}
        %label.select{:for => "select-batiment"} Dans quel Batiment?
        %select#select-batiment{:name => "batiment_id"}
          - @batiments.each do |batiment|
            %option{:value => batiment.id}= batiment.nom.capitalize

      %h2 Quel service voulez-vous modifier?

      %div{"data-role" => "fieldcontain"}
        %label.select{:for => "select-service"} Service?
        %select#select-service{:name => "service_id"}
          - @services.each do |service|
            %option{:value => service.id}= service.nom.capitalize
      
      
      %ul#test(data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b")
        %li
          %a.lol{:href => "http://google.fr"} Editer
        %li
          %a.kikoo{:href => "http://google.fr", :"data-confirm" => 'Êtes-vous sûr(e)?', :"data-method" => :delete} Supprimer

