=javascript_include_tag "admin"

%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Projet DUN
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
  / /header
  
  %div{"data-role" => "content"}
    %form#admin_form{:action => "", :method => "post", :name => "admin_form"}
      %h2 Interface Administrateur
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %legend Que voulez-vous ajouter?
          %input#choix-campus{:name => "radio-choice", :type => "radio", :value => "choice-campus"}/
          %label{:for => "choix-campus"} Campus
          %input#choix-batiment{:name => "radio-choice", :type => "radio", :value => "choice-batiment"}/
          %label{:for => "choix-batiment"} Batiment
          %input#choix-salle{:name => "radio-choice", :type => "radio", :value => "choice-salle"}/
          %label{:for => "choix-salle"} Salle
          %input#choix-entree{:name => "radio-choice", :type => "radio", :value => "choice-entree"}/
          %label{:for => "choix-entree"} Entrée
          %input#choix-borne{:name => "radio-choice", :type => "radio", :value => "choice-borne"}/
          %label{:for => "choix-borne"} Borne
          %input#choix-service{:name => "radio-choice", :type => "radio", :value => "choice-service"}/
          %label{:for => "choix-service"} Service
          %input#choix-categorie{:name => "radio-choice", :type => "radio", :value => "choice-categorie"}/
          %label{:for => "choix-categorie"} Catégorie
      /Geolocalisation
      %div{"data-role" => "fieldcontain"}
        %label.ui-slider{:for => "slider2"} Géolocalisation?
        %select.all#slider_geloc{"data-role" => "slider", :name => "slider_geoloc"}
          %option{:value => "off"} Off
          %option{:value => "on"} On
      /coordonnées
      %div.campus.batiment.entree.all{"data-role" => "fieldcontain"}
        %div.campus.batiment.entree.all{"data-role" => "fieldcontain"}
          %label{:for => "longitude"} Longitude
          %input.campus.batiment.entree.all#longitude{:name => "longitude", :type => "text", :value => ""}/
        %div.campus.batiment.entree.all{"data-role" => "fieldcontain"}
          %label{:for => "latitude"} Latitude
          %input.campus.batiment.entree.all#latitude{:name => "latitude", :type => "text", :value => ""}/
      /catégorie
      %div.batiment.service.all{"data-role" => "fieldcontain"}
        %label.select{:for => "select-categorie"} Catégorie
        %select.batiment.service.all#select-categorie{:name => "categorie_id"}
          - @categories.each do |categorie|
            %option{:value => categorie.id}= categorie.nom.capitalize
      /campus
      %div.batiment.salle.entree.service.all{"data-role" => "fieldcontain"}
        %label.select{:for => "select-campus"} Campus
        %select.batiment.salle.entree.service.all#select-campus{:name => "campus_id"}
          - @campuses.each do |campus|
            %option{:value => campus.id}= campus.nom.capitalize
      /batiment
      %div.salle.entree.service.all{"data-role" => "fieldcontain"}
        %label.select{:for => "select-batiment"} Batiment
        %select.salle.entree.service.all#select-batiment{:name => "batiment_id"}
          - @batiments.each do |batiment|
            %option{:value => batiment.id}= batiment.nom.capitalize
      /nom
      %div.campus.salle.categorie.batiment.service.all{"data-role" => "fieldcontain"}
        %label{:for => "nom"} Nom
        %input.campus.salle.batiment.categorie.service.all#nom{:name => "nom", :type => "text", :value => ""}/
      /nombre de places
      %div.salle.all{"data-role" => "fieldcontain"}
        %label{:for => "nbplace"} Nombre de places
        %input.salle.all#nbplace{:name => "nb_place", :type => "text", :value => ""}/
      /numero etage
      %div.salle.all{"data-role" => "fieldcontain"}
        %label{:for => "numetage"} Numéro étage
        %input.salle.all#numetage{:name => "num_etage", :type => "text", :value => ""}/
      /acces libre
      %div.salle.all{"data-role" => "fieldcontain"}
        %label{:for => "slider_acces_libre"} Accès libre?
        %select.salle-form.all#slider_acces_libre{"data-role" => "slider", :name => "acces_libre"}
          %option{:value => "off"} Non
          %option{:value => "on"} Oui
      /imprimante
      %div.salle.all{"data-role" => "fieldcontain"}
        %label{:for => "slider_imprimante"} Imprimante?
        %select.salle-form.all#slider_imprimante{"data-role" => "slider", :name => "imprimante"}
          %option{:value => "false"} Non
          %option{:value => "on"} Oui
      /url_icone
      %div.categorie.all{"data-role" => "fieldcontain"}
        %label{:for => "url_icone"} URL icône
        %input.categorie.all#url_icone{:name => "url_icone", :type => "text", :value => ""}/
      /tel
      %div.categorie.all{"data-role" => "fieldcontain"}
        %label{:for => "tel"} Tel
        %input.categorie.all#tel{:name => "tel", :type => "text", :value => ""}/
      /email
      %div.categorie.all{"data-role" => "fieldcontain"}
        %label{:for => "email"} Email
        %input.categorie.all#email{:name => "email", :type => "text", :value => ""}/
      /url_web
      %div.categorie.all{"data-role" => "fieldcontain"}
        %label{:for => "url_web"} URL site web
        %input.categorie.all#url_web{:name => "url_web", :type => "text", :value => ""}/
      /url_photo
      %div.batiment.entree.borne.all{"data-role" => "fieldcontain"}
        %label{:for => "url_photo"} URL photo
        %input.batiment.entree.borne.all#url_photo{:name => "url_photo", :type => "text", :value => ""}/
      /horaires
      %div.batiment.all{"data-role" => "fieldcontain"}
        %label{:for => "horaire"} Horaires
        %input.batiment.all#horaire{:name => "horaires", :type => "text", :value => ""}/
      /adresse
      %div.batiment.all{"data-role" => "fieldcontain"}
        %label{:for => "adresse"} Adresse
        %textarea.batiment.all#adresse{:cols => "40", :name => "adresse", :rows => "8"}
      /code postal
      %div.batiment.all{"data-role" => "fieldcontain"}
        %label{:for => "cp"} Code postal
        %input.batiment.all#cp{:name => "code_postal", :type => "text", :value => ""}/
      /ville
      %div.batiment.all{"data-role" => "fieldcontain"}
        %label{:for => "ville"} Ville
        %input.batiment.all#ville{:name => "ville", :type => "text", :value => ""}/
      /acces handicape
      %div.entree.all{"data-role" => "fieldcontain"}
        %label{:for => "slider_handicap"} Accès handicapé?
        %select.entree-form.all#slider_handicap{"data-role" => "slider", :name => "acces_handicape"}
          %option{:value => "false"} Non
          %option{:value => "true"} Oui
      /acces_wifi
      %div.batiment.all{"data-role" => "fieldcontain"}
        %label.ui-slider{:for => "slider_wifi"} Accès wifi?
        %select#slider_wifi.batiment-form.all{"data-role" => "slider", :name => "acces_wifi", :style => "display: none"}
          %option{:value => "false"} Non
          %option{:value => "true"} Oui         
      /info
      %div.batiment.all{"data-role" => "fieldcontain"}
        %label{:for => "infos"} Infos
        %textarea.batiment.all#infos{:cols => "40", :name => "info", :rows => "8"}
      /infos_supp
      %div.salle.all{"data-role" => "fieldcontain"}
        %label{:for => "info_sup"} Infos supplémentaires
        %textarea.salle.all#info_sup{:cols => "40", :name => "info_suplementaire", :rows => "8"}
          
      .ui-body.ui-body-b
        %fieldset.ui-grid-a
          .ui-block-a
            %button{"data-theme" => "d", :type => "submit"} Cancel
          .ui-block-b
            %button{"data-theme" => "a", :type => "submit"} Submit
  / /content"window.location.replace('feedback.htm');" 
/ /page

