%div(data-role="page")
  %div{"data-role" => "header", "data-theme" => "b"}
    %h1 Interface d'administration
    %a.ui-btn-right.jqm-home{"data-direction" => "reverse", "data-icon" => "home", "data-iconpos" => "notext", :href => "../../"} Home
  / /header
  %h1 Edition d'un batiment
  = render :partial => "form", :locals => { :batiment => [@batiment.campus, @batiment] }
  
  = link_to 'Show', campus_batiment_path(@batiment.campus, @batiment) |
  = link_to 'Back', campus_path(@batiment.campus)

