%div(data-role="page")
  %div(data-role="header" data-theme="c")
    %h2 Duninfos
    %a.ui-btn-right(data-icon="home" data-iconpos="notext" data-role="button"){href: root_url}
  %div(data-role="content" data-theme="g")
    %ul(data-role="listview")
      - @batiments.each do |batiment|
        %li
          %a{href: campus_batiment_path(@campus, batiment)}= batiment.nom

  = render :partial => "shared/navigation", :locals => { :complet => true }
