%div(data-role="page")
  %div(data-role="header" data-theme="c")
    %h2= @batiment.nom
    %a.ui-btn-right(data-icon="home" data-iconpos="notext" data-role="button"){href: root_url}
  %div(data-role="content" data-theme="g")
    %ul(data-role="listview" data-inset="true")
      %li(data-role="list-devider") Services
      - @services.each do |service|
        %li= service.nom
        
    - if @entrees != []
      %fieldset(class="ui-grid-a")
        %div(class="ui-block-a")
          %a(data-theme="c" data-role="button"){href: campus_batiment_entree_path(@batiment.campus, @batiment, @entrees.first)} Entrées
        %div(class="ui-block-b")
          %a(data-theme="c" data-role="button"){href: campus_batiment_salles_path(@batiment.campus, @batiment)} Salles
    - else
      %fieldset(class="ui-grid")
        %div(class="ui-block")
          %a(data-theme="c" data-role="button"){href: campus_batiment_salles_path(@batiment.campus, @batiment)} Salles

  = render :partial => "shared/navigation", :locals => { :complet => true }
