%div(data-role="page")
  %div(data-role="header")
    %h1= @batiment.nom
  %div(data-role="content")
    %ul(data-role="listview" data-inset="true")
      %li(data-role="list-devider") Services
      - @services.each do |service|
        %li= service.nom
    %ul(data-role="listview" data-inset="true" data-dividertheme="b" data-theme="c")
      %li(data-role="list-devider") Entrees
      - @entrees.each do |entree|
        %li= entree.nom