#imgEntree
{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

#imgHandy
{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 6%
}

#imgPrevious
{
    position: absolute;
    top: 45%;
    left: 0%;
    width: 10%;
}

#imgNext
{
    position: absolute;
    top: 45%;
    right: 0%;
    width: 10%;
}

#linkLstSalle
{
    position: absolute;
    left: 0%;    
    top: 83%;    
    width: 100%;
}


