/= javascript_include_tag 'pilule'

%div(data-role="footer" data-position="fixed" class="ui-bar-a ui-footer ui-footer-fixed fade ui-fixed-overlay" role="contentinfo")
  %div(data-role="navbar" class="ui-navbar ui-navbar-noicons" role="navigation")
    - if (complet)
    
      - if controller.controller_name == 'carte'
        %ul.ui-grid-b
          %li.ui-block-a
            %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => search_path} Rechercher
            
          %li.ui-block-b
            - if controller.action_name == 'parametres'
              - if @entrees
                %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => carte_campus_batiment_entrees_path(@batiment.campus, @batiment)} Carte
              - elsif @batiment
                %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => carte_campus_batiment_path(@batiment.campus, @batiment)} Carte
              - elsif @campus
                %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => carte_campus_batiments_path(@campus)} Carte
              
            - elsif @batiment
              %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => campus_batiment_path(@batiment.campus, @batiment)} Détails
            - elsif @campus
              %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => campus_batiments_path(@campus)} Détails
          
          %li.ui-block-c
            - if controller.action_name == 'parametres'
              %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(onClick="document.parametres_form.submit();" data-theme="a") Valider
            - else
              - if @entrees
                %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => parametres_campus_batiment_entrees_path(@batiment.campus, @batiment)} Paramètres
              - elsif @batiment
                %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => parametres_campus_batiment_path(@batiment.campus, @batiment)} Paramètres
              - elsif @campus
                %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => parametres_campus_batiments_path(@campus)} Paramètres
      
      - elsif controller.controller_name == 'entrees'
        %ul.ui-grid-b
          %li.ui-block-a
            %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => search_path} Rechercher
            
          %li.ui-block-b
            %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => carte_campus_batiment_entrees_path(@entree.batiment.campus, @entree.batiment)} Carte
            
          %li.ui-block-c
            %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => campus_batiment_salles_path(@entree.batiment.campus, @entree.batiment)} Salles
            
      - else
        %ul.ui-grid-a
          %li.ui-block-a
            %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => search_path} Rechercher
            
          %li.ui-block-b
            - if @batiment
              %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => carte_campus_batiment_path(@batiment.campus, @batiment)} Carte
            - elsif @campus
              %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => carte_campus_batiments_path(@campus)} Carte
                
    - else
      %ul.ui-grid
        %li.ui-block-a
          %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => search_path} Rechercher
