= javascript_include_tag 'pilule'

%div(data-role="footer" data-position="fixed" class="ui-bar-a ui-footer ui-footer-fixed fade ui-fixed-overlay" role="contentinfo")
  %div(data-role="navbar" class="ui-navbar ui-navbar-noicons" role="navigation")
    - if (complet)
    
      - if controller.controller_name == 'carte'
        %ul.ui-grid-b
          %li.ui-block-a
            %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(href="/search" data-theme="a") Rechercher
            
          %li.ui-block-b
            - if @batiment
              %a#bouton-details.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => campus_batiment_path(@batiment.campus, @batiment)} Détails
            - elsif @campus
              %a#bouton-details.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => campus_batiments_path(@campus)} Détails
            
          %li.ui-block-c
            %a#bouton-parametres.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(href="" data-theme="a") Paramètres
            
      - elsif controller.controller_name == 'entrees'
        %ul.ui-grid-b
          %li.ui-block-a
            %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(href="/search" data-theme="a") Rechercher
            
          %li.ui-block-b
            %a#bouton-carte.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => campus_batiment_path(@entree.batiment.campus, @entree.batiment) + "/carte"} Carte
            
          %li.ui-block-c
            %a#bouton-parametres.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => campus_batiment_path(@entree.batiment.campus, @entree.batiment) + "/salles"} Salles
            
      - else
        %ul.ui-grid-a
          %li.ui-block-a
            %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(href="/search" data-theme="a") Rechercher
            
          %li.ui-block-b
            - if @batiment
              %a#bouton-carte.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => campus_batiment_path(@batiment.campus, @batiment) + '/carte'} Carte
            - elsif @campus
              %a#bouton-details.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(data-theme="a"){:href => campus_path(@campus) + '/batiments/carte'} Détails
                
    - else
      %ul.ui-grid
        %li.ui-block-a
          %a.ui-btn-active.ui-state-persist.ui-btn.ui-btn-up-a(href="/search" data-theme="a") Rechercher
