= javascript_include_tag 'pilule'

#pilule
 
  .ui-grid-b
    .ui-block-a
      %div(data-theme="c" class="ui-btn ui-btn-icon-left ui-btn-corner-all ui-shadow ui-btn-up-c" aria-disabled="false")
        %span(class="ui-btn-inner ui-btn-corner-all")
          %span(class="ui-btn-text") Rechercher
          %span(class="ui-icon ui-icon-search ui-icon-shadow")
        %input(type="button" id="bouton-rechercher" value="Rechercher" data-icon="search" class="ui-btn-hidden" aria-disabled="false")
    .ui-block-b
      %div(data-theme="c" class="ui-btn ui-btn-icon-left ui-btn-corner-all ui-shadow ui-btn-up-c" aria-disabled="false")
        %span(class="ui-btn-inner ui-btn-corner-all")
          %span(class="ui-btn-text") Carte
          %span(class="ui-icon ui-icon-star ui-icon-shadow")
        %input(type="button" value="Carte" data-icon="star" class="ui-btn-hidden" aria-disabled="false" id="bouton-carte")
    .ui-block-c
      %div(data-theme="c" class="ui-btn ui-btn-icon-left ui-btn-corner-all ui-shadow ui-btn-up-c" aria-disabled="false")
        %span(class="ui-btn-inner ui-btn-corner-all")
          %span(class="ui-btn-text") Parametres
          %span(class="ui-icon ui-icon-gear ui-icon-shadow")
        %input(type="button" id="bouton-parametres" value="Paramètres" data-icon="gear" class="ui-btn-hidden" aria-disabled="false")
