#pilule
  %ul(data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b" class="ui-listview ui-listview-inset ui-corner-all ui-shadow" id="accordion")
    %li(data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-b ui-corner-top ui-btn-up-undefined") Paramètres
    %li(data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-c")
      .ui-btn-inner.ui-li
        .ui-btn-text
          %a(href="#" class="ui-link-inherit" id="map_remove") Supprimer les marqueurs
          
  .ui-grid-b
    .ui-block-a
      %div(data-theme="c" class="ui-btn ui-btn-icon-left ui-btn-corner-all ui-shadow ui-btn-up-c" aria-disabled="false")
        %span(class="ui-btn-inner ui-btn-corner-all")
          %span(class="ui-btn-text") Rechercher
          %span(class="ui-icon ui-icon-search ui-icon-shadow")
        %input(type="button" id="search_button" value="Rechercher" data-icon="search" class="ui-btn-hidden" aria-disabled="false")
    .ui-block-b
      %div(data-theme="c" class="ui-btn ui-btn-icon-left ui-btn-corner-all ui-shadow ui-btn-up-c" aria-disabled="false" id="carte")
        %span(class="ui-btn-inner ui-btn-corner-all")
          %span(class="ui-btn-text") Carte
          %span(class="ui-icon ui-icon-star ui-icon-shadow")
        %input(type="button" value="Carte" data-icon="star" class="ui-btn-hidden" aria-disabled="false")
    .ui-block-c
      %div(data-theme="c" class="ui-btn ui-btn-icon-left ui-btn-corner-all ui-shadow ui-btn-up-c" aria-disabled="false")
        %span(class="ui-btn-inner ui-btn-corner-all")
          %span(class="ui-btn-text") Paramètres
          %span(class="ui-icon ui-icon-gear ui-icon-shadow")
        %input(type="button" id="settings_button" value="Paramètres" data-icon="gear" class="ui-btn-hidden" aria-disabled="false")
