#parametres{"data-role" => "page", "data-theme" => "b"}
  %div{"data-position" => "fixed", "data-role" => "header"}
    %h1 Choix des repères
  %div{"data-role" => "content"}
    %form#parametres_form{:action => "", :method => "post", :name => "parametres_form"}
      %ul{"data-role" => "listview", "data-theme" => "c", "data-type" => "horizontal"}
        - i=0
        - @categories.each do |categorie|
          - i = i+1
          %li
            %img{:height => "80px", :src => "/images/categories/" + categorie.url, :width => "80px"}
            %input(data-theme = "c"){:name => categorie.nom.delete(' '), :type => "checkbox", :id => "checkbox-#{i}"}
            %label{:for => "checkbox-#{i}"}
              = categorie.nom.capitalize
      %input#submit_params(type='hidden' name='submit_params' value='1')
          
  = render :partial => "shared/navigation", :locals => { :complet => true }
