%div(data-role="page")
  %div(data-role="header" data-theme="c")
    %h2 Duninfos
    %a(href = "http://www.unistra.fr/")
      %img(src = "/images/logo_uds.png")
    
    %a(href = "http://www.passcampus-alsace.fr/")
      %img(src = "/images/pass_campus_logo.png")
    %br
  %div(data-role="content" data-theme="g")
    %ul(data-role="listview")
      - @campuses.each do |campus|
        %li
          %a{href: campus_path(campus)}= campus.nom.capitalize

  = render :partial => "shared/navigation", :locals => { :complet => false }
