%div(data-role="page")
  %div(data-role="header" data-theme="c")
    %h2 Duninfos
    %a(data-role="button"){href: "http://www.unistra.fr/"}
      Unistra
    %a.ui-btn-right(data-role="button"){href: "http://www.passcampus-alsace.fr/"}
      Pass Campus
  %div(data-role="content" data-theme="g")
    %ul(data-role="listview")
      - @campuses.each do |campus|
        %li
          %a{href: campus_path(campus)}= campus.nom.capitalize
