%div{"data-role" => "page"}
  %div{"data-role" => "header", "data-theme" => "c"}
    %h2 Duninfos
    %a.ui-btn-right{"data-icon" => "home", "data-iconpos" => "notext", "data-role" => "button", :href => "index.html"}
  %div{"data-role" => "content"}
    %ul(data-role="listview")
      - @salles.each do |salle|
        %li
          %a{href: campus_batiment_salle_path(salle.batiment.campus, salle.batiment, salle)}= salle.nom

