%div(data-role="page")
  %div(data-role="content")
    %div{:id => "cadreCarte"}
      
    %div{:id => "cadrePhoto"}
      %img{:id => "imgEntree", :src => "/images/" + @entree.url_photo}
      - if (@entree.acces_handicape)
        %img{:id => "imgHandy", :src => "/images/acces_handy_true.png"}
      - else
        %img{:id => "imgHandy", :src => "/images/acces_handy_false.png"}
        
      %p="higher #{@entree.higher_item}"
      %p="lower #{@entree.lower_item}"

      - if (@entree.first?)
        %p="first"        
        %a{:href => campus_batiment_entree_path(@entree.batiment.campus, @entree.batiment, @entree.batiment.entrees.last)} 
          %img{:id => "imgPrevious", :src => "/images/previousEntree.png"}        
      - else
        %p="pas first"
        %a{:href => campus_batiment_entree_path(@entree.batiment.campus, @entree.batiment, @entree.lower_item)} 
          %img{:id => "imgPrevious", :src => "/images/previousEntree.png"}
          
      
      - if (@entree.last?)
        %p="last"
        %a{:href => campus_batiment_entree_path(@entree.batiment.campus, @entree.batiment, @entree.batiment.entrees.first)} 
          %img{:id => "imgNext", :src => "/images/nextEntree.png"}
      - else
        %p="pas last"   
        %a{:href => campus_batiment_entree_path(@entree.batiment.campus, @entree.batiment, @entree.higher_item)}
          %img{:id => "imgNext", :src => "/images/nextEntree.png"}
